body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif; }

.login-component-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  transition-duration: 0.15s; }
  .login-component-wrapper .login-form-wrapper {
    width: 480px;
    height: 240px;
    position: relative;
    background-color: #000;
    border: 2px solid #2E8B57;
    border-radius: 4px;
    box-shadow: 0 0 4px 0px #000;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center; }
    .login-component-wrapper .login-form-wrapper .login-form-group {
      width: 100%;
      text-align: center; }
      .login-component-wrapper .login-form-wrapper .login-form-group input {
        width: 80%;
        border: none;
        padding: 12px;
        height: 24px;
        line-height: 24px;
        border-radius: 4px;
        background-color: #000;
        outline: none;
        text-align: center;
        color: #2EFB57;
        font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif; }
      .login-component-wrapper .login-form-wrapper .login-form-group .login-form-input--outerline {
        width: 10%;
        height: 1px;
        background-color: #333;
        margin: auto;
        transition-duration: 0.25s; }
      .login-component-wrapper .login-form-wrapper .login-form-group .login-form-action-button {
        width: 128px;
        height: 0px;
        background-color: #333;
        margin: auto;
        border-radius: 0px;
        transition-duration: 0.55s;
        line-height: 48px; }
      .login-component-wrapper .login-form-wrapper .login-form-group .login-form-action-button--active {
        width: 128px;
        height: 32px;
        position: relative;
        margin: auto;
        margin-top: 24px;
        background-color: #2EFB57;
        border-radius: 4px;
        line-height: 32px;
        color: #000;
        overflow: hidden;
        transition-duration: 0.5s;
        cursor: pointer; }
      .login-component-wrapper .login-form-wrapper .login-form-group .login-form-action-button--active:hover:after {
        content: ' ';
        position: absolute;
        width: 68px;
        height: 48px;
        left: -80px;
        bottom: -10px;
        transform: rotate(-45deg);
        background: linear-gradient(transparent, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
        animation: login-form-action-button--active--animation;
        animation-duration: 1.5s;
        animation-iteration-count: infinite; }
      .login-component-wrapper .login-form-wrapper .login-form-group input:focus + .login-form-input--outerline {
        background-color: #2EFB57;
        width: 128px;
        transition-duration: 2.5s;
        animation: login-form-input--outerline--animation;
        animation-duration: .5s;
        animation-iteration-count: 1; }
      .login-component-wrapper .login-form-wrapper .login-form-group ::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #2e8b57;
        font-size: 12px; }
      .login-component-wrapper .login-form-wrapper .login-form-group :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #2e8b57;
        font-size: 12px; }
      .login-component-wrapper .login-form-wrapper .login-form-group ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #2e8b57;
        font-size: 12px; }
      .login-component-wrapper .login-form-wrapper .login-form-group :-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #2e8b57;
        font-size: 12px; }
      .login-component-wrapper .login-form-wrapper .login-form-group input[placeholder], .login-component-wrapper .login-form-wrapper .login-form-group [placeholder], .login-component-wrapper .login-form-wrapper .login-form-group *[placeholder] {
        color: #2EFB57 !important;
        font-size: 20px;
        text-shadow: 0px 0px 0px #FFF; }
      .login-component-wrapper .login-form-wrapper .login-form-group input::selection {
        color: #9f9f9f; }
  .login-component-wrapper .login-form-wrapper:after {
    position: absolute;
    content: ' ';
    left: 0;
    bottom: 0;
    width: 0px;
    height: 0px;
    box-shadow: 0 0 12px 4px #2EFB57;
    z-index: 1;
    animation: login-form-border-after-animation;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    animation-timing-function: linear; }
  .login-component-wrapper .login-form-wrapper:before {
    position: absolute;
    content: ' ';
    left: 100%;
    top: 0;
    width: 0px;
    height: 0px;
    box-shadow: 0 0 12px 4px #2EFB57;
    z-index: 1;
    animation: login-form-border-before-animation;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    animation-timing-function: linear; }

@keyframes login-form-border-before-animation {
  0% {
    left: 100%;
    right: 0;
    top: 0;
    bottom: 100%; }
  30% {
    right: 200%;
    left: 0;
    top: 0;
    bottom: 100%; }
  50% {
    right: 100%;
    top: 0100%;
    left: 0;
    bottom: 0; }
  80% {
    left: 100%;
    right: 0;
    top: 100%;
    bottom: 0; }
  100% {
    left: 100%;
    right: 0;
    bottom: 100%;
    top: 0; } }

@keyframes login-form-border-after-animation {
  0% {
    left: 0;
    right: 100%;
    bottom: 0; }
  30% {
    right: 0;
    left: 100%;
    top: 100%;
    bottom: 0; }
  50% {
    right: 0;
    top: 0;
    left: 100%;
    bottom: 100%; }
  80% {
    left: 0;
    right: 100%;
    top: 0;
    bottom: 100%; }
  100% {
    left: 0;
    right: 100%;
    bottom: 0;
    top: 100%; } }

@keyframes login-form-input--outerline--animation {
  0% {
    width: 10%; }
  50% {
    width: 140px; }
  60% {
    width: 90px; }
  80% {
    width: 130px; }
  100% {
    width: 128px; } }

@keyframes login-form-action-button--active--animation {
  0% {
    left: -24px; }
  100% {
    left: 100%;
    right: 0; } }
